body {
}

.add_track_form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
}

.add_track_form h2 {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.add_track_form div {
    margin-bottom: 8px;
}